# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# ====================================== frontend ======================================
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# testing
frontend/coverage

frontend/*.yaml

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.yaml

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# ====================================== contract ======================================

# development environment
/smart-contract/node_modules
/smart-contract/.env
/smart-contract/*yaml

# Hardhat files
/smart-contract/cache
/smart-contract/artifacts

# TypeChain files
/smart-contract/typechain
/smart-contract/typechain-types

# solidity-coverage files
/smart-contract/coverage
/smart-contract/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/smart-contract/ignition/deployments/chain-31337

# .yaml files
smart-contract/*.yaml

# extras
/smart-contract/.DS_Store


#================================== Root ==============================================
.DS_Store