# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# ====================================== frontend ======================================
# dependencies
/frontend/therahub-web/node_modules
/frontend/therahub-web/.pnp
/frontend/therahub-web/.pnp.js
/frontend/therahub-web/.yarn/install-state.gz

# testing
/frontend/therahub-web/coverage

/frontend/therahub-web/*.yaml

# next.js
/frontend/therahub-web/.next/
/frontend/therahub-web/out/

# production
/frontend/therahub-web/build

# misc
/frontend/therahub-web/.DS_Store
/frontend/therahub-web/*.pem

# debug
/frontend/therahub-web/npm-debug.log*
/frontend/therahub-web/yarn-debug.log*
/frontend/therahub-web/yarn-error.log*
/frontend/therahub-web/*.yaml

# local env files
/frontend/therahub-web/.env*.local

# vercel
/frontend/therahub-web/.vercel

# typescript
/frontend/therahub-web/*.tsbuildinfo
/frontend/therahub-web/next-env.d.ts

# ====================================== smart-contract ================================

# development environment
/smart-contract/node_modules
/smart-contract/.env
/smart-contract/.deps

# Hardhat files
/smart-contract/cache
/smart-contract/artifacts

# TypeChain files
/smart-contract/typechain
/smart-contract/typechain-types

# solidity-coverage files
/smart-contract/coverage
/smart-contract/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/smart-contract/ignition/deployments/chain-31337

# .yaml files
/smart-contract/*.yaml

# extras
/smart-contract/.DS_Store

# IDE
/smart-contract/.vscode
/smart-contract/.idea

# Logs
/smart-contract/logs
/smart-contract/*.log
/smart-contract/npm-debug.log*
/smart-contract/yarn-debug.log*
/smart-contract/yarn-error.log*

# Local files
/smart-contract/.DS_Store
/smart-contract/*.local

# Testing
/smart-contract/coverage/
/smart-contract/coverage.json

# Production build
/smart-contract/dist/
/smart-contract/build/

# Optional npm cache directory
/smart-contract/.npm

# Optional eslint cache
/smart-contract/.eslintcache

#================================== Root ==============================================
.DS_Store