# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# ====================================== frontend ======================================
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# testing
frontend/coverage

frontend/*.yaml

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.yaml

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# ====================================== contract ======================================

# development environment
smart-contracts/node_modules
smart-contracts/.env
smart-contracts/*yaml

# Hardhat files
smart-contracts/cache
smart-contracts/artifacts

# TypeChain files
smart-contracts/typechain
smart-contracts/typechain-types

# solidity-coverage files
smart-contracts/coverage
smart-contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
smart-contracts/ignition/deployments/chain-31337

# .yaml files
contract/*.yaml

# extras
smart-contracts/.DS_Store


#================================== Root ==============================================
.DS_Store